@import url('https://fonts.googleapis.com/css?family=Orbitron:500,900|Quantico');

body {
    background-color: #2A2B2E;
    /*    background-color: #89350F;*/
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.main {
    margin: 0 auto
}

/*Navigation bar styles*/
.nav-bar {
    position: sticky;
    top: 0px;
    max-height: 10%;
    z-index: 100;
    /*Higher Z*/
    margin: 15px;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    padding-left: 0px;

    /*  background-color: #333;*/
    /*  background-color: #838482;*/
    background-color: #4E5C5C;

    /*    text-shadow: 3px 3px 2px rgba(20, 83, 132, 1);*/
    /*    text-shadow: 4px 4px 6px rgb(73, 87, 99, 1);*/
/*        text-shadow: -2px -2px 5px rgba(20, 83, 132, 1);*/


}

.nav-bar li {
    float: none;
    display: inline-block;
}

.nav-bar li a {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 28px 20px;
    text-decoration: none;
    font-size: 1.35em;

    /*    transistion*/
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;

    -webkit-transition: text-shadow 0.3s ease-out;
    -moz-transition: text-shadow 0.3s ease-out;
    -o-transition: text-shadow 0.3s ease-out;
    transition: text-shadow 0.3s ease-out;
}

.nav-bar li a:hover {
    background-color: #8F94AD;
    /*    text-shadow: 4px 4px 6px rgb(73, 87, 99, .85);*/
    text-shadow: 3px 3px 2px rgba(20, 83, 132, 1);
}

/*Used to sort internal items, flex with columns*/
.main-content {

    display: flex;
    flex-direction: column;
}

/*Base Item containers*/
.content-card {
    /*  background-color: #1A237E; */
    background-color: #1F2B2E;

    padding: 20px;
    /*  margin: 20px 440px;*/

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
}

.content-card header {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.content-card article {
    font-family: 'Quantico', sans-serif;
}

.content-card h2 {
    margin: auto;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
}

/*content images, typically original size and centered*/
.content-card img {
    overflow: hidden;
    margin: auto;
    padding: inherit;
    max-height: 100%;
    max-width: 100%;
}

.content-card p {
    margin: 2% 5%;
    text-align: left;
    color: white;
    font-size: 1.175em;
}

.content-card #Content1 {
    margin-top: 30px;
}

.content-inner {
    background-color: rgba(153, 179, 230, 0.25);
    padding: 10px;
    border-radius: 4px;
}

.media-container {
    width: 90vw;
    height: auto;
}

#TeamMembersArticle img {
    margin-right: 25px;
}

@media screen and (max-width:700px) {
    .nav-bar ul {
        font-size: 0.8em;
        padding: 8px 2px;
        /*        background-color: red;*/
    }
}
