.main{
    margin: 0 auto
}

.nav-bar li {
  float: none;
  display: inline-block;
}

.nav-bar li a{
  display: flex;
  color: white;
  text-align: center;
/*  padding: 28px 50px;*/
  text-decoration: none;
  font-size: 1.5em;
}

.nav-bar li a:hover {
  background-color: #1A237E;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
  background-color: #333;
}

/*Used to sort internal items, flex with columns*/
.main-content {
  
    display: flex;
    flex-direction: column;
}

.content-card {
  background-color: #1A237E; 
    
  padding: 20px;
/*  margin: 20px 440px;*/
    

    display: flex;
    flex-direction: row;
}

.content-card p{
    color: white; 
}

.content-card h2{
    color: white; 
}
